  @media (max-width: 768px) {

     :root {
       --header-height: 70px;
       --header-offset: 10px;
     }

/* 
     header{
      min-height: var(--header-height);
     } */

  .hero-grid {

    min-height: auto;
    grid-template-columns: 1fr;
    padding-top: calc(var(--header-height) + var(--header-offset) + 2rem);
    row-gap: 5rem;
    align-content: start;
    padding-bottom:7rem;

}


    .hero-title span {
    display: block;
  }
  
  
  .hero-left {
    max-width: 100%;
    padding: 0;
  }
  
  .hero-image {
    width: 100%;
    max-width: 489px;
    aspect-ratio: 3 / 2;
    margin-top: -2rem;
    justify-self: center;
  }
  
  
 
  
  .hero-left h1 {

    line-height: 1.2;

  }





  #mobile-menu-btn{
    display: block;
  }

  nav ul{
    display: none;
  }


.hero-cta{
  align-self: center;
  


}

}


/* =============================================== */

@media (max-width: 900px) {


      .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }

   .service-grid {
    grid-template-columns: 1fr;
  }

   .service-card-highlight {
    transform: none;
  }
}

@media (max-width: 640px) {
  .features h2 {
    max-width: 100%;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }
}