  @media (max-width: 768px) {

     :root {
    --header-height: 80px;
        --header-offset: 10px;
     }


  .hero {
    min-height: 100svh;
    grid-template-columns: 1fr;
    text-align:center;
     padding-top: calc(var(--header-height) + var(--header-offset) + 3rem);
    /* padding-inline: 1rem; */
    /* padding-bottom: 2rem; */
    
}



.hero-left {
    align-items: center;
    max-width: 100%;
    /* padding-block: 2rem 1rem; */
    padding: 0;
    
  }

    .hero-left h1 {
    max-width: 15ch;
  }



  .hero-left p:not(.eyebrow) {
    max-width: min(40ch, 100%);
  }

   .hero-image {
  width: 100%;
  max-width: 489px;
  aspect-ratio: 3 / 2;
}

  #mobile-menu-btn{
    display: block;
  }

  nav ul{
    display: none;
  }


}