  @media (max-width: 768px) {

     :root {
       --header-height: 70px;
       --header-offset: 10px;
     
     }


  


  .content {
    max-width: 100%;

  }
  
  /* 
  
  .hero-image {
    flex: auto;
    width: 100%;
    /* max-width: 300px; */
    /*
    aspect-ratio: 3.6/ 1; 
    justify-self: center;
    flex-basis: 400px;
    flex-grow: 0;
  
    
  }
   */
  
 
  
  .content h1 {

    line-height: 1.2;

  }





  #mobile-menu-btn{
    display: block;
  }

  nav ul{
    display: none;
  }


.hero-cta{
  align-self: center;
  


}

}




@media (max-width: 640px) {
  .features h2 {
    max-width: 100%;
  }


}

/* ====================================================== */

@media(min-width: 768px){
    .container.hero{
      flex-direction: row;
       flex-wrap: no-wrap;
    }


    .hero-cta{
  align-self: flex-start;
}


  
  }


/* =============================================== */

@media (max-width: 900px) {


      .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }

   .service-grid {
    grid-template-columns: 1fr;
  }

   .service-card-highlight {
    transform: none;
  }
}


@media(min-width: 1024px){
    header{
        width: 70%;
    }

        
  .hero-image {
      /* width: clamp(400px, 48vw, 600px); */
      aspect-ratio: 3 / 2;
      width:50%;

      
      justify-self: center;
      align-self: center;
      
      display: flex;
      justify-content: center;
      align-items: center;
}



} 
