* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body{
    font-family:'Lato', sans-serif;
    color: white;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

:root {
  --header-height: 100px;
}


header{
    height: var(--header-height);
    position: sticky;
    width: 90%;
    max-width: 1200px;
    top: 10px;
    margin: 0 auto;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    padding-left: 30px;
    padding-right: 30px;
    background:rgba(0, 0, 0, 0.149);
    backdrop-filter: blur(50px);
    border-radius: 50px; 
    
}



.headerfonts, nav a, nav button{
     color: white;
    }
    
  .logo {
    pointer-events: none;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
}

nav{
    display: flex;
    gap: 15px;
    align-items: center;
}

    nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
       
    }


    nav a{
        
        text-decoration: none;
        
    }

    section{
        /* min-height: 500px; */
        /* border: solid rgb(255, 152, 78); */
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .hero{
        min-height: 100svh;
        margin-top: calc(-1 * var(--header-height)); 
        padding-top: var(--header-height);


  background: radial-gradient(
    circle at right center,
    #6991ff,
    #0132b8,
    #002999
  );
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        align-items: center;
        /* gap: 8px; */
      
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        padding: 50px;
        margin: 0;
    }

    .hero a{
        text-decoration: none;
        color: greenyellow;
    }

    .hero-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero-image{
        height: 100%;
        display: flex;
        justify-content: center;
    }



#mobile-menu-btn{
    /* padding:4px 7px 4px 7px; */
    background-color: transparent;
    color: #f6f6f6;
    /* border: solid  rgb(0, 0, 0); */
    /* box-shadow: 0 2px 3px rgb(255, 213, 0); */
    height: 50px;         /* fixed height*/
  line-height: 50px;     /* center the ☰ vertically */
  padding: 0 13px;      /* only horizontal padding */
  border-radius: 50px;

}





.whatsapp-wrap {
    background-color: rgb(47, 186, 66);
    border-radius: 50px;

    padding: 5px 15px 5px 15px;
  display: inline-flex;
  align-items: center;
  gap: 04px;
  /* margin-left: 5px; */
}

.whatsapp-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

#whatsappbtn{
    color: white ;
}

/* HIDING THE BUTTON ALWAYS */

#mobile-menu-btn {
  display: none;
}


/* VIEW AT MOBILE DISPLAY */

    @media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  #mobile-menu-btn{
    display: block;
  }

  nav ul{
    display: none;
  }

    .logo {
    pointer-events: none;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

}

#service{
    height: 100vh;
}